# Project exclude paths
/project/target/
/target/
/target/scala-2.12/classes/
ScreenProcessor.scala_
techs*
slides*
.RData
.Rproj.user
hakens
hakens_
/.bloop/
/.bsp/
/.metals/
/.vscode/
/project/
settings
